:host {
  position: relative;
  align-self: center;

  .renderer-wrapper {
    position: relative;
  }

  .document-renderer {
    display: block;
    object-fit: cover;
    user-select: none;
  }

  .document-annotations {
    z-index: 2;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &-item {
      position: absolute;
    }
  }
}
